<!-- <section class="slider-container">
  <div class="container">
    <div class="Swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
         <div class="img_box">
          <img src="../../assets/images/leavesimage.jpg">
         </div>
        </div>
        <div class="swiper-slide">
          <div class="img_box">
           <img src="../../assets/images/leavesimage.jpg">
          </div>
         </div> <div class="swiper-slide">
          <div class="img_box">
           <img src="../../assets/images/leavesimage.jpg">
          </div>
         </div>
      </div>
    </div>
  </div>
</section> -->
